.tile {
  width: 50px;
  display: inline-block;
  height: 50px;
  border: 2px solid #666;
  background-color: #390;
  color: #390;

  .robot {
    color: #000;
    position: absolute;
    background-image: url('../../../assets/clean-robot.jpg');
    background-repeat: no-repeat;
    background-size: 24px 31px;
    display: inline-block;
    width: 24px;
    height: 31px;
    margin: 8px 0 0 11px;
  }

  &.dirty {
    background-color: #8B4513;
    color: #8B4513;
  }
}

