<div class="timer">
  Timer: {{hours | number: '2.0-0'}}:{{minutes | number: '2.0-0'}}:{{seconds | number: '2.0-0'}}
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Congratulations all tiles cleaned!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>World cleaned in {{hours}} hours, {{minutes}} minutes and {{seconds}} seconds
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>