<div class="container">
  <app-floor-tile #floor (floorIsClean)="cleaningComplete($event)">
  </app-floor-tile>
  <app-timer #timer [stopTimer]="showCleaningInfo">
  </app-timer>
  <button class="reset-button btn btn-secondary" (click)="resetWorld()" ngbTooltip="Reset the world and start new cleaning process.">Reset</button>
</div>