<div class="floor">
  <div *ngFor="let tileRow of floorTile; let i = index">
    <app-tile *ngFor="let tile of tileRow; let j = index" [robotCoordinates]="{'x': robot.x, 'y': robot.y}" [tileCoordinates]="{'x': i, 'y': j}" (isClean)="addCleanTile()">
    </app-tile>
  </div>
</div>
